<h1>Estas en paciente porque eres parte del grupo pacientes</h1>
<div class="container-fluid">
    <div class="row align-items-center text-center justify-content-center min-vh-100">
        <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3">
        <h3 class="fw-light mb-5">Iniciar Sesion.</h3>
        <form> <input class="form-control mb-3" type="email" placeholder="Email" /><input class="form-control mb-3" type="password" placeholder="Password" />
            <div class="row align-items-center">
                <div class="col text-start"> <a class="fs-10 d-inline-block" href="#!"> Olvidaste tu contraseña ?</a></div>
                <div class="col text-end"> <button class="btn btn-primary w-100" type="button">Iniciar Sesion</button></div>
            </div>
        </form>
        <hr class="text-300 mt-6" />
        <div class="fs-10">Necesitas una cuenta ? <a href="#!">Registrate.</a></div>
        <hr class="text-300" />
        </div>
    </div>
</div>