{% extends 'core/base.html' %}
{% block principal %}
{% load static %}


<section class="pb-6">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-sm-12 mb-5">
        <div class="image-container">
          <img src="{% static 'core/assets/img/destacada_home1.jpg' %}" class="img-thumbnail" alt="imagen de la inacap">
        </div>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-md-6 mb-7">
        <div class="row justify-content-center text-center">
          <div class="col-lg-12">
            <h5 class="mb-3">Roxany Montenegro Low </h5>
            <h6 class="mb-4 ls-2 fw-normal"> Analista Programador &amp; Técnico en Traducción Inglés - Español. <br> Titulada en Instituto Profesional Chileno Británico de Cultura. <br> Fundador de la marca &copy; R&R &trade;</h6>            
            <p class="fw-light text-500"> Estudiante del Instituto Nacional de Capacitación Profesional de Chile - Inacap <br> Desarrollador del proyecto Medidata y parte del equipo de BeeHive Solutions <br> Departamento encargado de desarrollar soluciones digitales. </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-7">
        <div class="row justify-content-center text-center">
          <div class="col-lg-12">
            <h5 class="mb-3">Rodolfo Bueno Gangas </h5>
            <h6 class="mb-4 ls-2 fw-normal"> Analista Programador &amp; Fundador de la marca &copy; R&R &trade; <br> <br> <br> </h6>
            <p class="fw-light text-500"> Estudiante del Instituto Nacional de Capacitación Profesional de Chile - Inacap <br> Desarrollador del proyecto Medidata y parte del equipo de BeeHive Solutions <br> Departamento encargado de desarrollar soluciones digitales. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}